<!DOCTYPE html>

<html>
<head>
    <style>
        html {
            font-size: 15px;
        }
    </style>

</head>
<body>
    <div class="card">
        <div class="card-header">
            <strong>Özellik Ekle </strong>
        </div>
        <div class="card-body card-block">
            <form action="" method="post" class="">
                <div class="row form-group">
                    <div class="col col-md-3">
                        <label for="textarea-input" class=" form-control-label">İsim</label>
                    </div>
                    <div class="col-12 col-md-9">
                        <textarea name="fname" id="fname" rows="9" placeholder="" class="form-control"></textarea>
                    </div>
                </div>
                <input type="submit" class="btn btn-primary btn-sm" value="Ekle">
            </form>
        </div>
        <div class="card-footer">

        </div>
    </div>
</body>
</html>
