@model List<Bil372_Odev1_Grup6.Models.FEATURES>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <div class="table-responsive table-responsive-data2">
            <table class="table table-data2">
                <thead>
                    <tr>
                       
                        <th>Kodu</th>
                        <th>Adı</th>   
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="spacer"></tr>
                    @foreach (var item in Model)
                    {
                <tr class="tr-shadow">
                    <td>
                    </td>
                    <td class="desc">@item.FEATURE_ID</td>
                    <td class="desc">@item.FEATURE_NAME</td>
                    <td>
                        <div class="table-data-feature">
                            
                            <button class="item" data-toggle="tooltip" onclick="deleteFunctionF(@item.FEATURE_ID)" data-placement="top" title="Delete">
                                <i class="zmdi zmdi-delete"></i>
                            </button>

                        </div>
                    </td>
                </tr>
                    }
                    </tbody>
            </table>
        </div>
    </div>
</body>
</html>

<script>
    function deleteFunctionF(id) {
         var url = "@Url.Action("Delete", "Features")" + "?value=" + id;
          window.location = url;
         
        



    }

</script>