<!DOCTYPE html>
<head>
    <style>
        html {
            font-size: 15px;
        }
    </style>

</head>

<html>

<body>
    <div class="card">
        <div class="card-header">
            <strong>Marka Organizasyon Bağla </strong>
        </div>
        <div class="card-body card-block">
            <form action="" method="post" class="">
                <div class="form-group">
                    <label for="nf-email" class=" form-control-label">Organizasyon Kodu</label>
                    <input id="orgid" name="orgid" placeholder="" class="form-control">
                </div>
                <div class="form-group">
                    <label for="nf-email" class=" form-control-label">Marka Barkodu</label>
                    <input id="bcode" name="bcode" placeholder="" class="form-control">
                </div>
                <div class="form-group">
                    <label for="nf-email" class=" form-control-label">Birim</label>
                    <input id="unit" name="unit" placeholder="" class="form-control">
                </div>
                <div class="form-group">
                    <label for="nf-email" class=" form-control-label">Son Tüketim Tarihi</label>
                    <input id="edate" name="edate" placeholder="" class="form-control">
                </div>
                <div class="form-group">
                    <label for="nf-email" class=" form-control-label">Taban Fiyatı</label>
                    <input id="bprice" name="bprice" placeholder="" class="form-control">
                </div>
                <div class="form-group">
                    <label for="nf-email" class=" form-control-label">Girdi</label>
                    <input id="inn" name="inn" placeholder="" class="form-control">
                </div>
                <div class="form-group">
                    <label for="nf-email" class=" form-control-label">Çıktı</label>
                    <input id="outt" name="outt" placeholder="" class="form-control">
                </div>
                <input type="submit" class="btn btn-primary btn-sm" value="Oluştur">
            </form>
        </div>
        <div class="card-footer">

        </div>
    </div>
</body>
</html>
